/*	------------------------------------------------------------------
	body/global/reset Styles
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
	body {
		margin:0;
		padding:0 0 0 0;
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	/* tables still need 'cellspacing="0"' in the markup */
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	.altText {
		width:0; height:0;
		display:block;
		overflow:hidden;
	}
	.cleaner {
		clear:both;
		height:0px;
		font-size:1px;
		overflow:hidden;
		border:none;
		margin:0; padding:0;
		background:transparent;
	}
	.clearfix:after {
		content: ".";
		display: block;
		clear:both;
		visibility:hidden;
		line-height:0;
		height:0;
	}
	.clearfix {
		display:inline-block;
	}
	html[xmlns] .clearfix {
		display:block;
	}
	* html .clearfix {
		height:1%;
	}
	a:link, a:visited {
		color: #a3030f;
		text-decoration: none;
	}
	a:hover {
		color:#ccc;
	}
	
	nav {
		display: none;
	}

	.header {
		display: none;
	}

.content {
	width:100%;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 400;
}

.btn a {
	padding: 10px;
	font-size: 16px;
	text-decoration: none;
	color: white;
	background:#a3030f;
	cursor: pointer;
}

.btn a:hover {
	font-size: 16px;
	text-decoration: none;
	color: white;
	background:#CCC;
	cursor: pointer;
}

h1 {
	font-weight: 700;
	margin: 0.5em 0 0.3em 0;
	padding: 10px;
	background: #000;
	color: #fff;
	background-image: url(../imgs/img-h1bg.png);
	background-repeat: no-repeat;
	background-position: right;
}

h2 {
	font-weight: 700;
	font-size: 2.5em;
}


tr:nth-child(even) {
	background: #eee;
}

/*
sidenav 
*/

.sidenav {
	max-width: 250px;
	height: 100%;
	padding: 20px 30px 20px 30px;
	position: fixed;
	background: rgba(0, 0, 0, .8);
	z-index: 2;
}

.sidenav .logo {
	text-align: left;
}

.sidenav .nav {
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 0;
}

.sidenav .nav ul {
	padding: 0;
	margin: 10px 0 10px 0;
	text-align: left;
}

.sidenav .nav li {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
}

.sidenav .nav li a {
	color: #fff;
}

.sidenav .social {
	margin: 10px 0 0 0;
	display: block;
}

.sidenav .social img {
	max-width: 50px;
	height: auto;
}

/*
Main
*/

.main {
	margin: 0 0 0 0;
	display: inline-block;
}

.main .mission-img {
	display: none;
}

.main .mission-header {
	height:100%;
	background: url(../imgs/pic-home.jpg) no-repeat left fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	position: relative;
}

.main .mission-header .logo {
	position: relative;
	top: 45%;
	transform: translateY(-45%);
}

.main .mission-header .logo img{
	max-height: 15%;
	max-width: 15%;
}

.main .top-break {
	width: 100%;
	height: 150px;
	background: url(../imgs/img-top-border.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: transparent;
	position: absolute;
	bottom: 0;
}

.main .mission-statement {
	margin: 0 0 0 235px;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 30px;
	padding-right: 30px;
	background: #fff;
}

.main img {
	height: auto;
	width: 100%;
}

.main p {
	text-align: left;
	line-height: 2em;
	font-size: 1.5em;
}

.main .enter {
	margin-top: 40px;
}

/*
Artists
*/

.main .band-page,
.main .news {
	margin: 0 0 0 243px;
	padding-bottom: 60px;
	padding-left: 30px;
	padding-right: 0;
}

.main .artists {
	margin: 0 0 0 213px;
	padding-bottom: 60px;
	padding-left: 30px;
	padding-right: 0;
}

.artists .artist {
	height: auto;
	width: 50%;
	float: left;
	text-align: center;
}

.artists .artist h2 {
	margin: 0;
	padding: 10px 0 10px 0;
	color: #000;
	font-size: 30px;
}

.artists .artist .photo-link {
	margin: 0;
}

.artists .artist .photo-link img {
	max-width: 100%;
}

.artists .artist .band-links {
	padding: 10px 0 30px 0;
	margin: 0;
	text-align: center;
}

.artists .artist .band-links li {
	display: inline-block;
	margin: 0 5px 0 0;
}

.artists .artist .band-links .fb {
	height: 35px;
	width: 35px;
	background-image: url("../imgs/social/facebook-square.png");
	background-size: 35px 35px;
}

.artists .artist .band-links .twitter {
	height: 35px;
	width: 35px;
	background-image: url("../imgs/social/twitter.png");
	background-size: 35px 35px;
}

.artists .artist .band-links .ig {
	height: 35px;
	width: 35px;
	background-image: url("../imgs/social/instagram.png");
	background-size: 35px 35px;
}

.artists .artist .band-links .site {
	height: 35px;
	width: 35px;
	background-image: url("../imgs/social/website.png");
	background-size: 35px 35px;
}

.tour-dates {
	margin-top: 20px;
}

.tour-dates h2 {
	margin: 1em 0 0.3em 0;
	text-decoration: underline;
}


/*
Band Template
*/

.back-button {
	margin-top: 20px;
}

/*
News
*/

.main .news h2 {
	margin: 20px 0 20px 0;
}

.main .news .entry {
	margin-bottom: 50px;
}

.main .news p {
	font-size: 20px;
}

.main .news img {
	max-height: 400px;
	width:auto;
	margin-right: 15px;
}

.main .news img .textwrap {
	float: right;
}

.main .news p .textwrap {
	float: left;
}

/*------------------------------------------*/

/*
CSS media query for ios and android phones
*/

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 736px) {

	body {
	    overflow-x: hidden;
	    background-position: 0px 0px;
	}
	
	nav {
		display: block;
	}

	nav:not(.mm-menu) {
		display: none;
	}

	#menu {
		font-family: 'Lato', Arial, sans-serif;
		font-weight: 400;
		color:#a3030f;
		background: #fff;
	}

	.header {
		height:40px;
		display: block;
		position: fixed;
		text-align: center;
		width: 100%;
		font-size: 1em;
		line-height: 40px;
		font-weight: 700;
		background: #fff;
	}

	.mission-header {
		display: none;
	}

	.main .mission-img {
		display: block;
		width: 100%;
		height: auto;
	}

	.main .mission-img img {
		width: 100%;
		height: auto;
	}

	.header.fixed {
		position: fixed;
		top: 0;
		left: 0;
	}

	.header a
	{
		background: center center no-repeat;
		background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
		background-color: #000;

		display: block;
		width: 40px;
		height: 40px;
		padding-right: 5px;
		position: absolute;
		top: 0;
	}

	.header .hdr-text {
		padding-left: 30px;
	}

	.sidenav {
		display: none;
	}	

	.main {
		max-width: 100%;
		margin-left: 0;
	}

	.btn a {
		padding: 1em;
	}

	.main .mission-statement,
	.main .artists,
	.main .band-page {
		padding: 40px 0 20px 0;
		margin: 0;
	}

	.main .artists {
		text-align: center;
	}

	.enter {
		text-align: center;
	}

	/*Artist overrides

	.artists .artist {
		width: 100%;
		margin: 0 auto;
		height: auto;
		display: block;
		text-align: center;
	}

	.artists {
		width: 100%;
	}

	.main {
		width: 100%;
		padding-left: 0px;
	}

	/*Band Template overrides*/

	.back-button {
		display: none;
	}
}

